.about__completeDiv {
  padding: 2%;
}

.about__div {
  color: black;
  margin: 5%;
  margin-bottom: 9%;
  font-family: monospace;
  box-shadow: -30px 40px 10px 40px #ccc;
  border-radius: 55px;
  margin-top: -1%;
  background-color: white;
}

.about__content {
  color: black;
  background-color: white;
  margin: 5%;
  padding: 10%;
  margin-bottom: 10%;
  font-family: monospace;
  box-shadow: -10px 17px 20px 15px #ccc;
  border-radius: 20px;
  font-size: 40px;
}

.about__header {
  margin-bottom: 10%;
}

.about__aTag {
  color: black;
}

.about__ulTag {
  color: black;
  background-color: white;
  margin: 5%;
  padding: 10%;
  margin-bottom: 10%;
  font-family: monospace;
  box-shadow: -10px 17px 20px 15px #ccc;
  border-radius: 20px;
  font-size: 40px;
}

.about__liTag {
  margin: 4%;
  padding: 2%;
}

.about__img1 {
  margin: 4%;
}

@media only screen and (max-device-width: 480px) {
  .about__logoDiv {
    background-color: white;
    font-size: 4vw;
  }

  .about__liTag {
    font-size: 5vw;
    margin-left: 20%;
  }

  .about__content {
    font-size: x-large;
  }
}
