.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: rosybrown;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Mobile */

@media (max-width: 768px) {

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
}