#about p {
  max-width: 500px;
}
.icons {
  padding: 20px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: rgb(131, 205, 224);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
