@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#navBar__div {
  box-shadow: -9px 10px 8px 7px #ccc;
  border-radius: 25px;
  margin: 1%;
  background-color: white;
}

#navBar__header {
  margin-top: 30px;
  font-family: monospace;
  margin-left: 50px;
}

.navBar__link {
  padding: 10px;
  border: none;
  color: black;
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  #navBar__header {
    font-family: monospace;
    font-size: 40px;
  }
}
