.portfolio__completeDiv {
  padding: 2%;
}

.portfolio__div {
  color: black;
  margin: 5%;
  margin-bottom: 9%;
  margin-top: -5%;
  font-family: monospace;
  box-shadow: -30px 40px 13px 40px #ccc;
  border-radius: 55px;
  background-color: white;
}

.portfolio__container {
  padding: 3%;
}

.portfolio__header {
  color: black;
  background-color: white;
  margin: 5%;
  padding: 10%;
  margin-bottom: 5%;
  font-family: monospace;
  box-shadow: -27px 31px 35px 29px #ccc;
  border-radius: 45px;
  font-size: 40px;
}

.portfolio__cardBody {
  padding: 4%;
}

@media only screen and (max-device-width: 480px) {
  .portfolio__header {
    font-size: x-large;
  }
}
